body {
 height:2000px;
    z-index: 1;
}
.ovfl{
    overflow-y: hidden;
}

.top_bar{
    display: inline-block;
    padding-left: 40px;
    color: #1C8766;
    font-size: 20px;
    float: right;
    margin-top: 10px;
}
.rustam{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;
    background: black;
    opacity: 0.7;
    overflow-y:hidden;
    transition: 1s;
}

footer {
    background: #fff;
    height: 50px;
    position: fixed;
    bottom: 0;
    transition: bottom 0.3s ease-in-out;
    width: 100%;
    padding-left: 30px;
    padding-bottom:30px;
    z-index: 9999;
}

.bkg{
    background: #F2F2F2;
    border-radius: 5px;
    margin: 15px 0px;
    width:100%;
    height:92px;
}
.blrr{
background: rgba(0,0,0,10.8); 
    opacity: 0.6;
     -webkit-filter: blur(2px);
    filter: blur(2px); 
}



.clk{
    width:72px;
    height:72px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.txte{ 
    font-size: 14px;
    color: #010101;
    font-weight: 500;
    font-family: open sans;
    text-align: left!important;
    display: inline-block;
    margin-left: 5px;
}
.nav-down {
    bottom: -60px;
    
 padding: 10px;
}
.nav-up{
 bottom:0px;
 padding: 10px;
}

.adbnr{
    width:100%;
}
.p_n{
    padding-left: 0px!important;
}

.adbar_bnr{
    margin-top:20px;
    
   
   
}
.adbarimg{
        height: 23px;
    width: 20px;
    
}
.you_might{
    font-weight: 500;
    font-size:16px;
    padding-top:10px;
    
}
.you_might1{
    font-weight: 500;
    font-size:16px;
    
}

.adbar_ftr{
    position: relative;
    height:30px;
    width:100%;
    bottom: 0;
    z-index: -1;
    margin-top: 10px;
}
.rcmd{
    font-size: 14px;
    color:grey;
    font-weight: 600;
    text-align: center;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 1);
    overflow-y:hidden;
    transition: 0.7s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    z-index: 1;
    overflow-y: hidden;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 20px;

}
.hide_popup{
    color:#2BC998;
    font-size: 20px;
    text-align: right;
    margin-left: 30px;
    
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


body {font-family:open sans;
 padding-top: 40px;}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}
.xc {
    font-family: open sans!important;
    margin-left:5px;
    font-size:15px!important;
    opacity: 0.6;
}
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 170px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:transparent; /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.closee{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closee:hover,
.closee:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*img full*/



/*  table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.al h2{
    text-align: center;
}
th, td {
    padding: 8px;
    font-size: 15px;
    font-family: open sans;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

/*   table */



    @font-face {
    font-family: georgia;
    src: url(georgia.ttf);
}
    
    .container {
        padding: 0 24px;
    }
   
    .row {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    
    .pad-none {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .logo_bar{
        height:40px;
    }
    .logo{
        width: 16.07px; 
        height: 17.25px;
        margin-top:10px;
/*        margin-left: -2px; */
    }
    .button{
        width:96px;
        height: 24px;
        background: #fff;
        border-radius: 12px;
        border: 1px solid #2BC998;
        color: #2BC998;
        font-size: 10px;
        font-family: Open Sans;
        font-weight: 400;
        float:right;
        text-align: center;
        padding: 3px 2px 6px 2px;
        margin-top: 9px;
        
        
    }
    .button2{
        width:96px;
        height: 24px;
        background: #2BC998;
        border-radius: 12px;
        border: 1px solid #2BC998;
        color: #fff;
        font-size: 10px;
        font-family: Open Sans;
/*        font-weight: 400;*/
        float:right;
        margin-top:8px;
        text-align: center;
        padding: 3px 2px 6px 2px;
/*        margin-right: -2px;*/
        
        
    }
#header {
        margin: -35px 0px 0px 0px;
    }
    
#blue {
color:#2C5FD2;
    }
    .banner{
      font-size: 18px;
        line-height: 21px;
    }
    .banner2{
        font-size: 16px;
        line-height: 24px;
    }
    .wel_banner{
        font-size: 14px!important;
        border-radius: 0px!important;
    }
    .author{
        line-height: 17px;
        font-size: 11px;
    }
    
    
.heading{
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        color: #333;
        margin-top: 3px;
        margin-right: 81px;
        
        
    }
    #you_may{
        font-size: 20px;
        font-weight: 600;
    }
    .links{
        font-size: 16px;
    }
    .body_font{
        font-family: georgia;
        font-size: 16px;
        opacity: 0.8;
        color: #232323;
        line-height: 24px;
        letter-spacing: -0.3px;
         
    }
    .sub_heading{
     font-family:Open Sans;
        font-size: 18px;
        color: #232323;
     font-weight: bold;
    padding-bottom: 28px;
        
    }
    
body{
/*  font-family: 'Open Sans', sans-serif;*/
}

#form {
 background:#F8F8F8;
    opacity: 100%;
    padding: 5px 5px;
}
    .message_box{
        width:100%;
        background: #95ffde38;
        padding: 7px 5px 7px 5px;
        width:100%;
        font-family: Open Sans;
        font-size: 11px;
        color:#6A7e88;
        line-height: 18px;
        
        
    }
    
.foooter{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #D8EAEC;
    color: #555555;
    text-align: center;
    padding:20px 0px;
    font-size: 13px;
    font-family: open sans;
    line-height: 22px;
    margin-top:50px;
}
    
    .adv{
        margin-top: 10px;
        margin-left: 2px;
        margin-right: 2px;
        }
    
    .blue{
        font-size: 11px;
        font-family: Open Sans;
        line-height: 15px;
        color: #2C5FD2!important;
    }
    .alert{
        margin-bottom: 0px!important;
        background: #344955!important;
        color:#fff;
        border-radius: 0px!important;
        
    }
    .author_box{
        margin-top: 8px;
    }
    .author{
        font-size: 11px;
        font-family: Open Sans;
        color: #6F8691;
        line-height: 17px;
    }
    .w_100{
        width:100%;
            padding: 16px 16px 0 16px;
    }
    .int_link a {
        color:#2BC998!important;
        cursor:pointer;
    }
    .bnr_img{
        margin-top: 10px;
        width:100%!important;
        
    }
    .banner_img{
        width:100%;
        padding: 0px 16px;
    }
    .para_1{
        font-family: georgia;
        font-size: 16px;
        line-height: 24px;
        color:#232323;
        letter-spacing: 0.2px;
        opacity: 0.8;
        margin-top:16px;
        margin-bottom: 16px;
        
        }
    .list_head{
        font-family: open sans;
        font-size: 18px;
        font-weight:500;
        letter-spacing: 0.3px;
        line-height: 24px;
        color:#000000;
        opacity:1;
    }
    .blog_list{
        margin-top: 6px;
        
    }
    .list_body{
        padding-left: 20px;
        color:#1266A7;
    }
    .list_body li{
        color:#b4b4b4;
        
        margin-top: 11px;
        font-size: 16px;
        font-family: open sans;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
    .para{
        font-family: georgia;
        font-size: 16px;
        line-height: 24px;
        color: #232323;
        letter-spacing: 0.2px;
        opacity: 0.8;
        margin-top: 10px;
    }
    .para a{
        color: #1a83d4;
    }
    .para_head{
        font-family: open sans;
        font-size: 18px;
        font-weight: 800;
        line-height: 26px;
        letter-spacing: 0.2px;
        color:#232323;
        opacity: 1;
        margin-top:23px;
    }
    .blur{
        opacity: 0.8;
    }
    .para_box{
        background: #d8eaec;
        border-radius: 5px;
        margin-top: 20px;
        padding: 8px 0px;
    }
    .para_box_head{
        font-family: open sans;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.3px;
        color:#232323;
        font-weight: 400;
    }
    .center{
        text-align: center;
    }
    .para_box_btn{
        background: #2bc998;
        opacity: 0.8;
        border-radius: 5px;
        color:#fff;
        font-family: open sans;
        font-size: 11px;
        font-weight: 400;
        line-height: 48px;
        padding: 0px 15px;
        min-width: 160px;
        margin-bottom: 8px;
        margin-top: 9px;
    }
    .ad_list{
        margin-top: 30px;
        
    }
    .ad_more{
        font-family: open sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.3px;
        color:#232323;
        opacity: 1;
        
    }
    .ad_link{
        font-family: open sans;
        font-weight:400;
        font-size: 15px;
        line-height: 23px;
        letter-spacing: -1px;
        color:#1266A7;
        margin-left: 8px!important;
    }
    
    .para_list{
        padding-left: 20px;
        
    }
    
    .line{
        border-top: 2px solid #606060;
        margin-top: 16px;
        line-height: 16px;
        opacity: 0.2;
    }
    .list_img{
        margin-top: 3px;
        
    }
    .list_img_box{
    margin-top:17px;
    
    }
    .img_des{
        font-family: open sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        opacity: 1;
        color:#232323;
        letter-spacing: -0.3px;
    }
    #form{
        width:312px;
        height:432px;
        background: #f8f8f8;
        padding: 8px 17px;
        margin-top: 30px;
    }
    .ft_pad{
      font-size: 13px;
        font-family: open sans;
        line-height: 22px;
        letter-spacing: 0.4px;
        color:#555;
    }
    
    .copy{
        font-size: 13px;
        font-family: open sans;
        line-height: 22px;
        letter-spacing: 0.4px;
        color:#555;
        padding-top:18px;
    }
    .txt{
      font-size: 13px;
        font-family: open sans;
        line-height: 18px;
        color:#232323;
    }
    .ask{
        font-size: 23px;
        font-family: open sans;
        line-height: 32px;
        letter-spacing: 0.3px;
        font-weight: 400;
        color:#232323;
        margin-bottom: 18px;
    }
    .form-control::placeholder{
        font-size: 14px;
        font-family: open sans;
    line-height: 22px;
        color: #232323;
        opacity: 0.4;
        
    }
    .f-14{
        font-size: 14px!important;
    }
    .hlo{
        font-size: 18px;
        color: #FFFFFF;
        font-family: open sans;
        line-height: 24px;
        letter-spacing: 1px;
        margin-bottom:7.5px;
        font-weight: 400;
    }
    

.firstcharacter {
  color: #333333;
  float: left;
  font-family: Georgia;
  font-size: 51px;
  line-height: 33px;
    opacity: 1;
    font-weight: bold;
    padding-top:8px;
        padding-right: 2px;
  
}

    .alert-dismissible .close{
        padding: .15rem 0.50rem!important;
    }

    .banner2{
        font-size: 16px;
        letter-spacing: -0.3px;
        line-height: 24px;
        color:#FFFFFF;
        opacity: 0.8;
    }
    
